.settings-page {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.settings-category-tile {
    background-color: var(--tile-color);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.settings-category-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.settings-category-header h1 {
    margin: 0;
    font-size: 21px;
    color: var(--main-color);
}

.settings-category-header h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--message-box-border);
}

.settings-category-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.settings-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    padding-left:30px;
    border-bottom: 1px solid var(--message-box-border);
    width: 100%;
}

.settings-item:last-child {
    border-bottom: none;
}

.settings-item-name {
    font-size: 16px;
    color: var(--secondary-color);
    flex: 1;
    max-width: 200px;
}

.settings-item-value {
    font-size: 16px;
    color: var(--main-color);
    margin-left: 20px; /* Adjust this value as needed */
    text-align: left;
}